

.addToCartBttn {
    border: 2px solid black;  
    color: black;
    background-color: white;
    font: inherit;
    font-weight: bold;
    font-size: small;
    padding: 0.5rem;
    border-radius: 20px;
    transition: all 200ms linear;
}

.addToCartBttn:hover {
    color: white;
    background-color: black;
}

.out-of-stock {
    background-color: rgb(255, 70, 70);
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0.4rem;
    text-align: center;
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}