.addToCartBttn {
    border: 2px solid black;  
    color: black;
    background-color: white;
    font: inherit;
    font-weight: bold;
    font-size: small;
    padding: 0.5rem;
    border-radius: 20px;
    transition: all 200ms linear;
}

.addToCartBttn:hover {
    color: white;
    background-color: black;
}

.out-of-stock {
    background-color: rgb(255, 70, 70);
    border: 1px solid gray;  
    color: white;
    border-radius: 20px;
    margin-top: 0.2rem;
    padding: 0.4rem;
    text-align: center;
    cursor: default;
}